    <footer>
        <h5>CopyRight Reserved <span id="footer-date"></span></h5>
    </footer>
    <script>
        document.querySelector("#footer-date").innerText = new Date().getFullYear();
    </script>
</body>
</html>