<head>
    <title><%=title %></title>
    <rel="stylesheet" href="css/style.css" />
</head>
<body>
<header>
    <nav>
        <div class="logo" >
            <img />
        </div>
        <nav>
            <a href="/"><button>HOME</button></a>
            <a href="/create"><button>Create</button></a>
            <a href="/contats"><button>HALA BACK</button></a>
        </nav>
    </nav>
</header>
